{% extends "base.html" %}
{% block title %}Cuenta Bloqueada{% endblock %}

{% block content %}
  <div class="columns">
    <div class="column is-half">
      <div class="login-wrap">
        <div class="login-html">
          <h1 class="is-size-3 mt-3">Cuenta Bloqueada</h1>
          <p class="is-size-5" style="color: #fff;">
            Su cuenta ha sido bloqueada debido a múltiples intentos fallidos de inicio de sesión.
            Por favor, contacte con el soporte para desbloquear su cuenta.
            
          </p>
          <a href="{% url 'contacto' %}" class="button is-primary">Formulario de Contacto</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}